.titulo{

 color: gray;
 border-bottom: solid 1px #dddddd;   
 padding: 20px;
 display: grid;
 grid-template-columns: repeat(5,1fr) 50px 50px;    
}

.contenido{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.opciones{
 
    display: flex;
    height: calc(100vh - 56px);
    justify-content: center;
    
}

.listado{
    border-right:solid 1px #dddddd;
}

.detallestitulo{
color: gray;
display: flex;
flex-direction: row-reverse;
justify-content: baseline;
padding: 25px;

}

.listaingresos{
 font-size: .875rem;
 padding:  17px;
 display: grid;

 line-height: 1.25rem;
 grid-template-columns: repeat(5,1fr) 40px 40px;
 align-items: baseline; 

}
.listaingresos:hover{
    border-left: #3f51b5 solid 6px;
    box-sizing: border-box;
    padding-left: 11px;
}
.loading{
    height: calc(100vh - 56px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit{
  color: green;
}
.delete{
  color: #ff0000c7;
}